/* Essential starting elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --light-light-gray: rgba(120, 118, 118, 0.1);
  --light-gray: rgba(120, 118, 118, 0.5);
  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navbar Section */
#about h2 {
  margin: 30px 30px;
  text-align: center;
}

.header-container {
  width: 100%;
  background-color: var(--teal);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  font-size: larger;
}

h1 {
  text-align: center;
  color: var(--teal);
  margin-top: 30px;
}

/* About Section */
.img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: cover;
}

.bio {
  margin: 20px auto;
  width: 680px;
  text-align: center;
  font-size: larger;
}

.bio::first-line {
  font-weight: bold;
}

.about-list {
  margin-top: 40px;
  list-style: circle;
}

.about-list-head {
  color: var(--teal);
  text-align: center;
  margin-top: 10px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-bottom: 60px;
}

.list-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Previous Work Section */
#previous h2 {
  text-align: center;
  margin-bottom: 30px;
}

#form {
  margin-bottom: 60px;
}

.previous-container {
  padding-left: 30px;
  margin-bottom: 30px;
}

.previous-container,
.previous-exp {
  margin-bottom: 30px;
}

.previous-des {
  font-size: larger;
  color: var(--teal);
  margin-bottom: 10px;
}

.previous-par {
  margin-left: 30px;
  font-size: larger;
}

/* Projects Section */
#project h2 {
  margin-bottom: 30px;
}

#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.project-title {
  margin-top: 20px;
  color: var(--teal);
}

.project-text {
  margin-bottom: 15px;
  font-size: larger;
  color: var(--black);
  text-align: center;
  font-weight: bold;
}

.project-list {
  border: 2px solid var(--teal);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  list-style-type: none;
  width: 80%;
}

.project-des {
  margin-top: 10px;
  color: var(--gray);
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--teal);
  color: var(--white);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.project-link:hover {
  background-color: var(--violetred);
}

/* Form Section */
#form h2 {
  margin-bottom: 30px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  border: 2px solid var(--teal);
  border-radius: 10px;
  padding: 80px 150px;
}

.form-group {
  margin-bottom: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: larger;
  color: var(--teal);
}

.form-group label {
  width: 110px;
}

.form-group input {
  flex-grow: 1;
}

.button-form {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  background-color: var(--teal);
  color: var(--white);
  border: none;
  padding: 10px 60px;
  margin-right: 20px;
}

.primary-btn:hover {
  background-color: var(--violetred);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  padding: 10px 60px;
  margin-left: 20px;
}

.secondary-btn:hover {
  background-color: var(--light-gray);
}

/* Media Queries */

/* For mobile devices */
@media (max-width: 414px) {
  .bio {
    font-size: large;
    width: auto;
    padding: 0 40px;
  }

  .navbar {
    flex-direction: column;
  }

  .list-container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    list-style: none;
  }

  .previous-par,
  .project-des {
    margin-left: 0;
  }

  .form-group {
    flex-direction: column;
  }

  .button-form {
    flex-direction: column;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    margin: 10px 0;
  }

  .project-link {
    width: 100%;
  }
}

/* For tablets */
@media (max-width: 768px) {
  .bio {
    width: auto;
    padding: 0 40px;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar a {
    flex: 50%;
    text-align: center;
    margin-bottom: 10px;
  }

  .list-container {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    list-style: none;
  }

  .previous-par,
  .project-des {
    margin-left: 0;
  }

  .form-container {
    padding: 10px;
  }

  .form-group {
    flex-direction: column;
    align-items: center;
  }

  .form-group label {
    width: auto;
  }

  .form-group input {
    margin-top: 10px;
  }
}

/* For larger devices */
@media (min-width: 769px) and (max-width: 1023px) {
  .bio {
    width: 80%;
  }

  .navbar {
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
  }

  .navbar a {
    flex: auto;
  }

  .list-container {
    flex-direction: row;
    gap: 60px;
  }

  .previous-par,
  .project-des {
    margin-left: 30px;
    margin-right: 10px;
  }

  .form-container {
    padding: 60px 30px;
  }
}
