/* Essential starting elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --light-light-gray: rgba(120, 118, 118, 0.1);
  --light-gray: rgba(120, 118, 118, 0.5);
  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* Navbar Section */
.header-container {
  width: 100%;
  background-color: var(--teal);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  font-size: larger;
}

h1 {
  text-align: center;
  color: var(--teal);
}

/* About Section */
.img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: cover;
}

.bio {
  margin: 20px auto;
  width: 680px;
  text-align: center;
  font-size: larger;
}

.bio::first-line {
  font-weight: bold;
}

.list-container {
  margin-top: 10px;
  list-style: circle;
  padding-left: 40px;
  padding-bottom: 20px;
}

/* Previous Work Section */

/* Project Work Section */
#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.project-title {
  margin-top: 20px;
  color: var(--teal);
}

.project-text {
  margin-bottom: 15px;
  font-size: larger;
  color: var(--black);
  text-align: center;
  font-weight: bold;
}

.project-list {
  border: 2px solid var(--teal);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  list-style-type: none;
  width: 80%;
}

.project-des {
  margin-top: 10px;
  color: var(--gray);
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--teal);
  color: var(--white);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.project-link:hover {
  background-color: var(--violetred);
}

/* Form Section */
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  border: 2px solid var(--teal);
  padding: 80px 150px;
}

.form-group {
  margin-bottom: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: larger;
  color: var(--teal);
}

.form-group label {
  width: 110px;
}

.form-group input {
  flex-grow: 1;
}

.button-form {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  background-color: var(--teal);
  color: var(--white);
  border: none;
  padding: 10px 60px;
  margin-right: 20px;
}

.primary-btn:hover {
  background-color: var(--violetred);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
  padding: 10px 60px;
  margin-left: 20px;
}

.secondary-btn:hover {
  background-color: var(--light-gray);
}
